<h1>Review Details</h1>
<h2>Flight Details:</h2>
Airlines: {{ data?.flight.operatingAirlines }}<br/>
Flight Numeber: {{ data?.flight.flightNumber }}<br/>
From: {{ data?.flight.departureCity }}<br/>
To: {{ data?.flight.arrivalCity }}<br/>
Date Of Departure: {{ data?.flight.dateOfDeparture }}<br/>
Departure Time: {{ data?.flight.estimatedDepartureTime }}<br/>
<h2>Passenger Details:</h2>

First Name: {{data?.passenger?.firstName}}<br/>
Last Name: {{data?.passenger?.lastName}}<br/>
Email: {{data?.passenger?.email}}<br/>
Phone: {{data?.passenger?.phone}}<br/>
Enter the number of bags you want to checkin: <input type="text" [(ngModel)]="noOfbags"><br/>
<button (click)="checkIn()">CheckIn</button>